body,
div.body {
    background-color: lightgrey;
}

header {
    background-color: lightgrey;
}
body.notebook_app {
    background-color: lightgrey;
}
body > #header {
    background-color: lightgrey;
}
.notebook_app {
    background-color: lightgrey;
}
#notebook-container {
    background-color: lightgrey;
    width: 1500px;
}